<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <meta name="theme-color" content="#9CC2CE">
    
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/mui.css"   rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/fr.css"    rel="stylesheet">
    <script type="text/javascript" src="assets/js/init.js"></script>
  </head>
  <body class="hide-sidedrawer">
    <script type="text/javascript" src="assets/build/application.min.js"></script>
    <!-- <script type="text/javascript" src="assets/build/jquery.js"></script> -->
    <!-- <script type="text/javascript" src="assets/build/froala.js"></script> -->
    <script type="text/javascript" src="assets/build/webcomponents.js"></script>
    
  </body>
</html>
