<table>
  <caption>My items</caption>
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="number">
        234
        <%=# data._id %>
      </td>
      <td>
        234
        <%=# data.name %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">() #{#data.length}</td>
    </tr>
  </tfoot>
</table>
