<!-- Главная панелька с кнопками -->
<table class="mui-table no-margin-bottom">
  <tr>
    <td class="mui-col-lg-2">&nbsp;</td>

    <td class="mui-col-lg-8 bar ">
      <div class="mui-panel mainbar  mui--z1" id="paperBar">
      </div>
    </td>
    <td class="mui-col-lg-2">
      <div id="cellSettings" class="mui--z1">
        
        <ul class="mui-tabs__bar s cellSettings mui-tabs__bar--justified">
          <!-- <div class="mui--text-black-54 mui--text-display1"></div> -->

          <li class="mui--is-active">
            <a data-mui-toggle="tab" data-mui-controls="pane-default-1" class="mui--text-white">Поиск</a>
          </li>
          <li>
            <a data-mui-toggle="tab" data-mui-controls="nCoreElements" class="mui--text-white">Данные</a>
          </li>
        </ul>
        <div class="mui-divider"></div>

        
       <div class="mui-divider mui--divider-right "></div>
        <div class="mui-tabs__pane mui--is-active" id="pane-default-1">
            <!-- <legend>Свойства</legend> -->
            <!-- <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
              <form>
                <legend>Свойства</legend>
                
                <div class="mui-textfield">
                  <input id="nCoreTabConfigCellText" type="text">
                  <label>Текст</label>
                </div>
                <label  class="mui-col-lg-2 control-label">Размер</label>
              </form>
            </div> -->

            <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
              <form id="cellSettingsForm" onsubmit="return false;">
                <!-- <legend>Поиск</legend> -->
                <!--
                  condition    = equal   *
                  value        = test    *
                  origin_name  = comment *

                  data_type    = String
                  russian_name = russian_name
                -->
                <div class="mui-textfield">
                  <div class="mui-select" > <!-- id="nCoreTabConfigTextFontSize"> -->
                    <select name="origin_name">
                      <option value="554c5fc85804000014000001" selected="selected">Комментарий</option>
                      <option value="554c5fc858040000cf000001">Экземпляры. Кому</option>
                      <option value="554c5fc858040000da000001">Штрих-код</option>
                      <option value="554c5fc858040000e5000001">Гриф</option>
                      <option value="554c5fc858040000f0000001">Дата регистрации</option>
                      <option value="554c5fc858040000fb000001">Рег. №</option>
                      <option value="55ad071ed09d000283000001">ФИО Подписавшего</option>
                      <option value="560e5b950e2d000003000001">№ пост</option>
                      <option value="562a3ae1c1aa00003d000001">Дата контроля (РКФ)2</option>
                      <option value="562a3b0ec1aa000041000001">Дата контроля (РКФ)</option>
                    </select>
                  </div>
                  <label>Поле</label>
                </div>

                <div class="mui-textfield">
                  <div class="mui-select" > <!-- id="nCoreTabConfigTextFontSize"> -->
                    <select name="conditions">
                      <option value="equal">Точное совпадение</option>
                      <option value="not_equal">Не</option>
                      <option value="regexp">Частичное совпадение</option>
                      <option value="full_text">Ключевые слова</option>
                    </select>
                  </div>
                  <label>Условие</label>
                </div>

                <div class="mui-textfield">
                  <input  type="text" name="value">
                  <label>Значение</label>
                </div>
                <input type="hidden" name="data_type" value='string' required>
                <input type="hidden" name="russian_name" >

              </form>
            </div>
        </div>
        <div class="mui-tabs__pane" id="nCoreElements">Pane-2</div>

      </div>
    </td>
  </tr>
</table>

<!-- Отчет -->
<table class="mui-table animatedSlow paperZoom">
  <tr>
    <td class="mui-col-lg-2">&nbsp;</td>

    <!-- Лист -->
    <td class="mui-col-lg-8 ">
      <div class="mui-panel mui--z2" id="paper">
        <p><img class="fr-fil fr-dii" src="assets/img/gerb-mvd.png" style="width: 244px;"><span style="font-size: 18px;">Министерство внутренних дел</span></p>

        <p><span style="font-size: 18px;">Российской федерации</span></p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p style="text-align: center;"><span style="font-size: 18px;">Отчет</span></p>

        <p>
          <br>
        </p>

        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="width: 39.8321%;" colspan="2" rowspan="2" class="fr-highlighted">
                <br>
              </td>
              <td style="width: 40.1119%; text-align: center;" colspan="2" class="fr-highlighted" data-conditions="equal" data-origin_name="560e5b950e2d000003000001" data-value="Подразделение ">Документы
                <br>
              </td>
              <td style="width: 19.9254%; text-align: center;" rowspan="2" class="fr-highlighted" data-origin_name="554c5fc858040000e5000001" data-conditions="full_text" data-value="Письма">Письма
                <br>
              </td>
            </tr>
            <tr>
              <td style="width: 20.056%; text-align: center;" class="fr-highlighted" data-origin_name="554c5fc858040000da000001" data-value="+" data-conditions="equal">+
                <br>
              </td>
              <td style="width: 20%; text-align: center;" class="fr-highlighted" data-origin_name="554c5fc858040000da000001" data-conditions="equal" data-value="-">-
                <br>
              </td>
            </tr>
            <tr>
              <td style="width: 19.9813%;" rowspan="2" class="fr-thick" data-origin_name="560e5b950e2d000003000001" data-conditions="equal" data-value="Подразделение ">Подразделение
                <br>
              </td>
              <td style="width: 19.9627%;" class="fr-thick" data-origin_name="55ad071ed09d000283000001" data-conditions="equal" data-value="Иванов ">Иванов
                <br>
              </td>
              <td style="width: 20.056%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}]' data-cell-type="data-cell" data-cell-index="2" data-row-index="2">
                <br>
              </td>
              <td style="width: 20%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}]' data-cell-type="data-cell" data-cell-index="3" data-row-index="2">
                <br>
              </td>
              <td style="width: 19.9254%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{}]' data-cell-type="data-cell" data-cell-index="4" data-row-index="2">
                <br>
              </td>
            </tr>
            <tr>
              <td style="width: 19.9627%;" class="fr-thick" data-origin_name="55ad071ed09d000283000001" data-conditions="equal" data-value="Петров">Петров
                <br>
              </td>
              <td style="width: 20.056%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}]' data-cell-type="data-cell" data-cell-index="1" data-row-index="3">
                <br>
              </td>
              <td style="width: 20%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}]' data-cell-type="data-cell" data-cell-index="2" data-row-index="3">
                <br>
              </td>
              <td style="width: 19.9254%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{}]' data-cell-type="data-cell" data-cell-index="3" data-row-index="3">
                <br>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="data" data-cell-type="data" style="display: none;">
              <td data-cell-type="data-cell">
                <br>
              </td>
              <td data-cell-type="data-cell">
                <br>
              </td>
              <td data-cell-type="data-cell">Документы++
                <br>
              </td>
              <td data-cell-type="data-cell">Документы+-
                <br>
              </td>
              <td data-cell-type="data-cell">Письма
                <br>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="data" id="dataRowForDelete" data-cell-type="data" style="display: none;">
              <td data-query="{}">{}</td>
              <td data-query="{}">{}</td>
              <td data-query='{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}'>{&quot;conditions&quot;:&quot;equal&quot;,&quot;origin_name&quot;:&quot;560e5b950e2d000003000001&quot;,&quot;value&quot;:&quot;Подразделение &quot;},{&quot;origin_name&quot;:&quot;554c5fc858040000da000001&quot;,&quot;value&quot;:&quot;+&quot;,&quot;conditions&quot;:&quot;equal&quot;}</td>
              <td data-query='{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}'>{&quot;conditions&quot;:&quot;equal&quot;,&quot;origin_name&quot;:&quot;560e5b950e2d000003000001&quot;,&quot;value&quot;:&quot;Подразделение &quot;},{&quot;origin_name&quot;:&quot;554c5fc858040000da000001&quot;,&quot;conditions&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;-&quot;}</td>
              <td data-query="{}">{}</td>
            </tr>
          </tbody>
        </table>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p>
          <br>
        </p>

        <p style="text-align: right;">12.10.2015</p>



      </div>
    </td>

    <td class="mui-col-lg-2">&nbsp;</td>
  </tr>
</table>