<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nCore.cells</title>

    <!-- Bootstrap CSS -->
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/css/mui.min.css" rel="stylesheet">
    <link href="assets/css/fr.css" rel="stylesheet">
    <link href="assets/css/style/buisiness.css" rel="stylesheet" id="nCoreThemeRoller">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hide-sidedrawer">
<div id="nCoreDocumentId">nCore</div>

    <div id="sidedrawer" class="mui--no-user-select mui--z5">
      <div id="sidedrawer-brand" class="mui--appbar-line-height mui--text-title">
        <div class="mui--text-left">
          <i class=" mui--text-black fa fa-2x fa-stack-overflow">
            <span class="mui--text-black-54">Tables</span>
          </i>
        </div>

        <!-- шаблон карточки -->
        <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
          <table class="mui-table mui-col-lg-12 no-margin-bottom">
            <tr>
              <td class="mui-col-lg-2">
                <div class="mui--text-left">
                  <i class="fa fa-2x fa-file-text  mui--text-black-26" style="margin-left: -10px; margin-top: -5px;"></i>
                </div>
              </td>
              <td class="mui-col-lg-9" style="padding: 0px;">
                <div class="mui--text-body2 mui--text-black-87">Отчет по подразделениям</div>
                <div class="mui--text-body1  mui--text-black-54"><a href="#">Иванов И.И</a></div>
              </td>
              <td class="mui-col-lg-1 saveTemplate mui--text-right">
                <div class="mui-dropdown">
                  <i class="fa fa-ellipsis-v  mui--text-black-54 templateOptions" data-mui-toggle="dropdown"></i>

                  <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                    <li><a href="#">A very long menu option</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </div>
              </td>
              <tr>
                <td colspan="3">
                  
                  <div> 
                    <span class="mui--text-body1 mui--text-black-87">Описание шаблона</span>
                  </div>

                </td>
              </tr>
            </tr>
          </table>
        </div>

        <!-- шаблон карточки -->
        <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
          <table class="mui-table mui-col-lg-12 no-margin-bottom">
            <tr>
              <td class="mui-col-lg-2">
                <div class="mui--text-left">
                  <i class="fa fa-2x fa-file-text  mui--text-black-26" style="margin-left: -10px; margin-top: -5px;"></i>
                </div>
              </td>
              <td class="mui-col-lg-9" style="padding: 0px;">
                <div class="mui--text-body2 mui--text-black-87">Отчет по подразделениям</div>
                <div class="mui--text-body1  mui--text-black-54"><a href="#">Иванов И.И</a></div>
              </td>
              <td class="mui-col-lg-1 saveTemplate mui--text-right">
                <div class="mui-dropdown">
                  <i class="fa fa-ellipsis-v  mui--text-black-54 templateOptions" data-mui-toggle="dropdown"></i>

                  <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                    <li><a href="#">A very long menu option</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </div>
              </td>
              <tr>
                <td colspan="3">
                  
                  <div> 
                    <span class="mui--text-body1 mui--text-black-87">Описание шаблона</span>
                  </div>

                </td>
              </tr>
            </tr>
          </table>
        </div>

        <!-- шаблон карточки -->
        <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
          <table class="mui-table mui-col-lg-12 no-margin-bottom">
            <tr>
              <td class="mui-col-lg-2">
                <div class="mui--text-left">
                  <i class="fa fa-2x fa-file-text  mui--text-black-26" style="margin-left: -10px; margin-top: -5px;"></i>
                </div>
              </td>
              <td class="mui-col-lg-9" style="padding: 0px;">
                <div class="mui--text-body2 mui--text-black-87">Отчет по подразделениям</div>
                <div class="mui--text-body1  mui--text-black-54"><a href="#">Иванов И.И</a></div>
              </td>
              <td class="mui-col-lg-1 saveTemplate mui--text-right">
                <div class="mui-dropdown">
                  <i class="fa fa-ellipsis-v  mui--text-black-54 templateOptions" data-mui-toggle="dropdown"></i>

                  <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                    <li><a href="#">A very long menu option</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </div>
              </td>
              <tr>
                <td colspan="3">
                  
                  <div> 
                    <span class="mui--text-body1 mui--text-black-87">Описание шаблона</span>
                  </div>

                </td>
              </tr>
            </tr>
          </table>
        </div>

        <!-- шаблон карточки -->
        <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
          <table class="mui-table mui-col-lg-12 no-margin-bottom">
            <tr>
              <td class="mui-col-lg-2">
                <div class="mui--text-left">
                  <i class="fa fa-2x fa-file-text  mui--text-black-26" style="margin-left: -10px; margin-top: -5px;"></i>
                </div>
              </td>
              <td class="mui-col-lg-9" style="padding: 0px;">
                <div class="mui--text-body2 mui--text-black-87">Отчет по подразделениям</div>
                <div class="mui--text-body1  mui--text-black-54"><a href="#">Иванов И.И</a></div>
              </td>
              <td class="mui-col-lg-1 saveTemplate mui--text-right">
                <div class="mui-dropdown">
                  <i class="fa fa-ellipsis-v  mui--text-black-54 templateOptions" data-mui-toggle="dropdown"></i>

                  <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                    <li><a href="#">A very long menu option</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                  </ul>
                </div>
              </td>
              <tr>
                <td colspan="3">
                  
                  <div> 
                    <span class="mui--text-body1 mui--text-black-87">Описание шаблона</span>
                  </div>

                </td>
              </tr>
            </tr>
          </table>
        </div>

        
      </div>

    
    </div>

    <header id="header">
      <nav id="appbar" class="mui-container-fluid mui-appbar mui--z2" style="z-index: 3">
        <table width="100%">
          <tbody>
            <tr class="mui--appbar-height">
              <td>
                <a class="sidedrawer-toggle mui--visible-xs-inline-block js-show-sidedrawer">☰</a>
                <a class="sidedrawer-toggle mui--hidden-xs js-hide-sidedrawer">☰</a>
                <span class="mui--text-title mui--visible-xs-inline-block"></span>
                <span class="mui--text-headline" id="nCoreDocumentHeadLine"> Document Name </span>
              </td>
              
              <td>
                
              </td>

              <td class="mui--text-right">
                <div id="appbar-social-links" class="mui--hidden-xs">
                  
                  <i class="fa fa-user" id='nCoreDocumentAuthor'></i>
                  
                  <!-- dropdown
                  <div class="mui-dropdown">
                    <a href="#" class="mui-btn mui-btn--small" data-mui-toggle="dropdown" >
                      <i class="fa fa-ellipsis-v" ></i>
                    </a>
                    <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                      <li><a href="#">A very long menu option</a></li>
                      <li><a href="#">Option 2</a></li>
                      <li><a href="#">Option 3</a></li>
                      <li><a href="#">Option 4</a></li>
                    </ul>
                  </div>
                  -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </nav>
    </header>

    <div id="content-wrapper">
      <!-- <div class="mui--appbar-height"></div> -->

      <!-- Главная панелька с кнопками -->
      <table class="mui-table no-margin-bottom">
        <tr>
          <td class="mui-col-lg-2">&nbsp;</td>

          <td class="mui-col-lg-8 bar ">
            <div class="mui-panel mainbar  mui--z1" id="paperBar">
            </div>
          </td>
          <td class="mui-col-lg-2">
            <div id="cellSettings" class="mui--z1">
              
              <ul class="mui-tabs__bar s cellSettings mui-tabs__bar--justified">
                <!-- <div class="mui--text-black-54 mui--text-display1"></div> -->

                <li class="mui--is-active">
                  <a data-mui-toggle="tab" data-mui-controls="pane-default-1" class="mui--text-white">Поиск</a>
                </li>
                <li>
                  <a data-mui-toggle="tab" data-mui-controls="nCoreElements" class="mui--text-white">Данные</a>
                </li>
              </ul>
              <div class="mui-divider"></div>

              
             <div class="mui-divider mui--divider-right "></div>
              <div class="mui-tabs__pane mui--is-active" id="pane-default-1">
                  <!-- <legend>Свойства</legend> -->
                  <!-- <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
                    <form>
                      <legend>Свойства</legend>
                      
                      <div class="mui-textfield">
                        <input id="nCoreTabConfigCellText" type="text">
                        <label>Текст</label>
                      </div>
                      <label  class="mui-col-lg-2 control-label">Размер</label>
                    </form>
                  </div> -->

                  <div class="mui-panel mui-col-lg-10 mui-col-lg-offset-1 bb mui--z2">
                    <form id="cellSettingsForm" onsubmit="return false;">
                      <!-- <legend>Поиск</legend> -->
                      <!--
                        condition    = equal   *
                        value        = test    *
                        origin_name  = comment *

                        data_type    = String
                        russian_name = russian_name
                      -->
                      <div class="mui-textfield">
                        <div class="mui-select" > <!-- id="nCoreTabConfigTextFontSize"> -->
                          <select name="origin_name">
                            <option value="554c5fc85804000014000001" selected="selected">Комментарий</option>
                            <option value="554c5fc858040000cf000001">Экземпляры. Кому</option>
                            <option value="554c5fc858040000da000001">Штрих-код</option>
                            <option value="554c5fc858040000e5000001">Гриф</option>
                            <option value="554c5fc858040000f0000001">Дата регистрации</option>
                            <option value="554c5fc858040000fb000001">Рег. №</option>
                            <option value="55ad071ed09d000283000001">ФИО Подписавшего</option>
                            <option value="560e5b950e2d000003000001">№ пост</option>
                            <option value="562a3ae1c1aa00003d000001">Дата контроля (РКФ)2</option>
                            <option value="562a3b0ec1aa000041000001">Дата контроля (РКФ)</option>
                          </select>
                        </div>
                        <label>Поле</label>
                      </div>

                      <div class="mui-textfield">
                        <div class="mui-select" > <!-- id="nCoreTabConfigTextFontSize"> -->
                          <select name="conditions">
                            <option value="equal">Точное совпадение</option>
                            <option value="not_equal">Не</option>
                            <option value="regexp">Частичное совпадение</option>
                            <option value="full_text">Ключевые слова</option>
                          </select>
                        </div>
                        <label>Условие</label>
                      </div>

                      <div class="mui-textfield">
                        <input  type="text" name="value">
                        <label>Значение</label>
                      </div>
                      <input type="hidden" name="data_type" value='string' required>
                      <input type="hidden" name="russian_name" >

                    </form>
                  </div>
              </div>
              <div class="mui-tabs__pane" id="nCoreElements">Pane-2</div>

            </div>
          </td>
        </tr>
      </table>

      <!-- Отчет -->
      <table class="mui-table">
        <tr>
          <td class="mui-col-lg-2">&nbsp;</td>

          <!-- Лист -->
          <td class="mui-col-lg-8 ">
            <div class="mui-panel mui--z2" id="paper">
              <p><img class="fr-fil fr-dii" src="assets/img/gerb-mvd.png" style="width: 244px;"><span style="font-size: 18px;">Министерство внутренних дел</span></p>

              <p><span style="font-size: 18px;">Российской федерации</span></p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p style="text-align: center;"><span style="font-size: 18px;">Отчет</span></p>

              <p>
                <br>
              </p>

              <table style="width: 100%;">
                <tbody>
                  <tr>
                    <td style="width: 39.8321%;" colspan="2" rowspan="2" class="fr-highlighted">
                      <br>
                    </td>
                    <td style="width: 40.1119%; text-align: center;" colspan="2" class="fr-highlighted" data-conditions="equal" data-origin_name="560e5b950e2d000003000001" data-value="Подразделение ">Документы
                      <br>
                    </td>
                    <td style="width: 19.9254%; text-align: center;" rowspan="2" class="fr-highlighted" data-origin_name="554c5fc858040000e5000001" data-conditions="full_text" data-value="Письма">Письма
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 20.056%; text-align: center;" class="fr-highlighted" data-origin_name="554c5fc858040000da000001" data-value="+" data-conditions="equal">+
                      <br>
                    </td>
                    <td style="width: 20%; text-align: center;" class="fr-highlighted" data-origin_name="554c5fc858040000da000001" data-conditions="equal" data-value="-">-
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 19.9813%;" rowspan="2" class="fr-thick" data-origin_name="560e5b950e2d000003000001" data-conditions="equal" data-value="Подразделение ">Подразделение
                      <br>
                    </td>
                    <td style="width: 19.9627%;" class="fr-thick" data-origin_name="55ad071ed09d000283000001" data-conditions="equal" data-value="Иванов ">Иванов
                      <br>
                    </td>
                    <td style="width: 20.056%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}]' data-cell-type="data-cell" data-cell-index="2" data-row-index="2">
                      <br>
                    </td>
                    <td style="width: 20%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}]' data-cell-type="data-cell" data-cell-index="3" data-row-index="2">
                      <br>
                    </td>
                    <td style="width: 19.9254%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Иванов "},{}]' data-cell-type="data-cell" data-cell-index="4" data-row-index="2">
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 19.9627%;" class="fr-thick" data-origin_name="55ad071ed09d000283000001" data-conditions="equal" data-value="Петров">Петров
                      <br>
                    </td>
                    <td style="width: 20.056%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}]' data-cell-type="data-cell" data-cell-index="1" data-row-index="3">
                      <br>
                    </td>
                    <td style="width: 20%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{"conditions":"equal","origin_name":"560e5b950e2d000003000001","value":"Подразделение "},{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}]' data-cell-type="data-cell" data-cell-index="2" data-row-index="3">
                      <br>
                    </td>
                    <td style="width: 19.9254%;" data-query='[{"origin_name":"560e5b950e2d000003000001","conditions":"equal","value":"Подразделение "},{"origin_name":"55ad071ed09d000283000001","conditions":"equal","value":"Петров"},{}]' data-cell-type="data-cell" data-cell-index="3" data-row-index="3">
                      <br>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="data" data-cell-type="data" style="display: none;">
                    <td data-cell-type="data-cell">
                      <br>
                    </td>
                    <td data-cell-type="data-cell">
                      <br>
                    </td>
                    <td data-cell-type="data-cell">Документы++
                      <br>
                    </td>
                    <td data-cell-type="data-cell">Документы+-
                      <br>
                    </td>
                    <td data-cell-type="data-cell">Письма
                      <br>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="data" id="dataRowForDelete" data-cell-type="data" style="display: none;">
                    <td data-query="{}">{}</td>
                    <td data-query="{}">{}</td>
                    <td data-query='{"origin_name":"554c5fc858040000da000001","value":"+","conditions":"equal"}'>{&quot;conditions&quot;:&quot;equal&quot;,&quot;origin_name&quot;:&quot;560e5b950e2d000003000001&quot;,&quot;value&quot;:&quot;Подразделение &quot;},{&quot;origin_name&quot;:&quot;554c5fc858040000da000001&quot;,&quot;value&quot;:&quot;+&quot;,&quot;conditions&quot;:&quot;equal&quot;}</td>
                    <td data-query='{"origin_name":"554c5fc858040000da000001","conditions":"equal","value":"-"}'>{&quot;conditions&quot;:&quot;equal&quot;,&quot;origin_name&quot;:&quot;560e5b950e2d000003000001&quot;,&quot;value&quot;:&quot;Подразделение &quot;},{&quot;origin_name&quot;:&quot;554c5fc858040000da000001&quot;,&quot;conditions&quot;:&quot;equal&quot;,&quot;value&quot;:&quot;-&quot;}</td>
                    <td data-query="{}">{}</td>
                  </tr>
                </tbody>
              </table>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p>
                <br>
              </p>

              <p style="text-align: right;">12.10.2015</p>



            </div>
          </td>

          <td class="mui-col-lg-2">&nbsp;</td>
        </tr>
      </table>
    </div>

    <script src="assets/js/shared/jquery-1.9.1.js"></script>
    <!-- // <script src="assets/js/shared/interact.min.js"></script> -->
    <script src="assets/js/shared/mui.min.js"></script>
    <script src="assets/js/shared/fr.js"></script>
    <script src="assets/js/nCore/nCore.js"></script>
    <script src="assets/js/shared/script.js"></script>
  </body>
</html>