* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 5px;
}

.fr-view table td, .fr-view table th {
  border: 1px solid #dddddd;
}

.fr-view table td.fr-highlighted, .fr-view table th.fr-highlighted {
  font-weight: bold;
  padding: 5px;
}