<div class="mui-col-md-8 mui-col-md-offset-2" style="margin-top: 44px;">
  <div class="mui-panel">
    <div id="nCoreDocumentFailedToLoad">
      <div class="mui-row mui--text-center">
        <div class="mui--text-dark mui--text-headline errorMessage mui--align-top" style="height: 120px;">
          У вас нет прав на просмотр данного документа
        </div>
        <div class="mui-form--inline mui--align-bottom">
          <button class="mui-btn mui-btn--raised back" onclick="nCore.document.event.publish( 'go', '' )">Назад</button>
        </div>
      </div>
    </div>
  </div>
</div>